// Always Override default variables before the import

// Theme
$body-bg: #3a4063;
$body-color: #f8f8f2;
$primary: #bd93f9;
$secondary: #bd93f9;
$success: #50fa7b;
$info: #8be9fd;
$warning: #ff5555;
$danger: #ffb86c;
$white: #f8f8f2;

$light-purple: #6272a4;

// Fonts
$font-family-sans-serif: "Lato", Roboto, sans-serif;
$header-font-family: "Dosis", Roboto, sans-serif;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4;

// Media Queries
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Sane defaults
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Bootstrap Class Overrides
.btn {
  padding: 0.5rem 1rem;
}

// MAIN APP
.App {
  text-align: center;
}

// LANDING PAGE
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 3rem 0;
  &:nth-child(2n):not(.hero) {
    background-color: $white;
    color: $body-bg;
  }
  h1 {
    margin-bottom: 0;
    font-weight: 700;
  }
  hr {
    width: 2rem;
    height: 0.25rem;
    text-align: center;
    border: 0;
    border-top: 0.25rem solid $primary;
    margin-bottom: 2rem;
  }
}

footer {
  padding: 2rem 0 1rem 0;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  .navbar-brand {
    img {
      width: 6rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-collapse {
      justify-content: end;
    }
    .navbarToggler {
      display: none;
    }
  }
}

.navbarLinks {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.25rem;
  font-family: $header-font-family;
  margin: 0;
  &:hover {
    a,
    button {
      color: $light-purple;
    }
  }
  .navbarItem {
    margin-right: 4rem;
    a {
      text-decoration: none;
      font-weight: 700;
    }
    a:hover {
      color: $primary;
    }
    button {
      padding: 0.5rem 2rem;
    }
    button:hover {
      font-weight: 600;
    }
  }
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/background.png");
  background-size: cover;
  box-shadow: inset 0px 80px 70px 20px #0000007a;
  img {
    width: 100%;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }
}

.features {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
  .description {
    font-size: 1.25rem;
  }
  .image {
    margin-bottom: 1rem;
    img {
      width: 75%;
    }
  }
}

.tagline {
  font-size: 1.25rem;
  img {
    width: 100%;
  }
}

.title {
  font-family: $header-font-family;
  font-weight: 700;
  font-size: 2rem;
}

.community {
  .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2rem;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: $white;
      padding: 1rem;
      transition: all 0.1s ease 0s;
      background-color: rgba(0, 0, 0, 0);
      svg {
        font-size: 2rem;
      }
    }
    @include media-breakpoint-up("md") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-up("lg") {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.blogFeature {
  .blogItems {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    margin-bottom: 4rem;
    .blogItem {
      background-color: $body-bg;
      padding: 0.75rem;
      a {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        color: $body-bg;
      }
      .imgContainer {
        flex-grow: 1;
        margin-bottom: 0.5rem;
        display: flex;
      }
      &:hover {
        h4 {
          text-decoration: underline;
          color: $primary;
        }
      }
      img {
        width: 100%;
        margin-bottom: 0.5rem;
      }
      h4 {
        font-weight: 700;
        transition: color 0.2s ease;
      }
      .postData {
        padding: 1.5rem 0.75rem;
        background: #fff;
      }
    }
    @include media-breakpoint-up("lg") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-up("xl") {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// Collapsible component API
@import "./Components/Collapsible/Collapsible.scss";
