// Always Override default variables before the import

// Theme
$body-bg: #282a36;
$body-color: #f8f8f2;
$primary: #bd93f9;
$secondary: #bd93f9;
$success: #50fa7b;
$info: #8be9fd;
$warning: #ff5555;
$danger: #ffb86c;
$white: #f8f8f2;

// Fonts
$font-family-sans-serif: "Dosis", Roboto, sans-serif;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.App {
  text-align: center;
}
